#{extends 'main.html' /}

<form>
  <fieldset class="outsideField">
    <legend>${cours.matiere.nom} : ${cours.classe.nomClasse}</legend>
    <div  class="buttonAjout">
    	<input type="button" name="New" value="&{'application.enseignant.ajouterPartiel'}" onclick="window.location.href='@{EnseignantController.ajouteExamens(cours.id,randomID)}'">
	</div>
	<div class="clear"></div>
	
    <div class="listExam">
    #{list items:cours.examen, as : 'examen'}
	    #{if !examen.noteValidee}    	
    	<div class="divNotLink"> 
	    	${examen.nom} 
			    #{if examen.notes.isEmpty()}
			    <input  class="buttonAjout" type="button" name="New" value="&{'application.enseignant.ajouterNotes'}" onclick="window.location.href='@{EnseignantController.afficheResultats(cours.id,examen.id)}'">
				#{/if}
       		    #{if !examen.notes.isEmpty()}
			    <input  class="buttonAjout" type="button" name="New" value="&{'application.enseignant.modifierNotes'}" onclick="window.location.href='@{EnseignantController.ajouteExamens(cours.id,randomID)}'">
    			<input  class="buttonAjout" type="button" name="New" value="&{'application.enseignant.validerNotes'}" onclick="window.location.href='@{EnseignantController.ajouteExamens(cours.id,randomID)}'">
    			#{/if}

		</div>
       	#{/if}    	
	#{/list}	
	 
	#{list items:cours.examen, as : 'examen'}

    	#{if examen.noteValidee}    	
    	<div class="divNotLinkBlue"> 
	    	${examen.nom}
		</div>
       	#{/if}
    	
	#{/list}	
	</div>
  </fieldset>
  
  

</form>


