#{extends 'main.html' /}

<form>
  <fieldset class="outsideField">
    <legend>&{'application.menu.cours'}</legend>
    
    #{list items:matieres, as : 'matiere'}
    	<fieldset class="insideField">
    		<legend>${matiere}</legend>
    		#{list items:enseignant.cours, as : 'cours'}
    			#{if cours.matiere.nom == matiere}
		    	<div class="divLink" onclick="window.location.href = '@{EnseignantController.afficheExamens(cours.id)}'">  ${cours.classe.nomClasse} </div>
  				#{/if}
 			#{/list}
  		</fieldset>
  		#{if !matiere_isLast}<br/> #{/if}
	#{/list}

  </fieldset>
  
  

</form>


