<!-- 
- Affiche les notes diffusées par les élèves de la classe de l'étudiants connecté
et pour l'examen selectionné (sur la page afficheMatiere.html)
-->
#{extends 'main.html' /}
#{set title:'Diffusion' /}
&{'application.etudiant.diffusion.titre', examen.nom, examen.cours.classe.nomClasse}

<table id="home" >
#{list items:lstNote, as:'note'}
<tr><td><div class="divNotLink">${note.etudiant.prenom} ${note.etudiant.nom}</div> </td><td><div class="divNotLinkBlue" style="width:50px;"> ${note.note}</div></td></tr> 
#{/list}
</table>