<!-- 
- Charge les cours de l'élève
- au clic sur un cours, appel de l'action pour aller en page afficherMatiere.html
=> Détail de la matière correspondant au cours
- Propose d'aller sur la page detailMoyenne.html
-->
#{extends 'main.html' /}
#{set title:'Accueil' /}
&{'application.accueil.etudiant'}

 <ul id="notes" title="Notes">
        #{list items:etudiant.notes, as:'note'}
		<li><a href="@{EtudiantController.diffusionNote(note.examen.id)}">A l'examen de : ${note.examen.nom} ta note est de ${note.note}</a></li> 
        #{/list}
</ul>