#{if _as == 'scolarite'}
	<li><a href="cours.html" class="scrcast">&{'application.menu.cours'}</a></li>
	<li><a href="matiere.html" class="scrcast">&{'application.menu.matiere'}</a></li>
	<li><a href="enseignant.html" class="scrcast">&{'application.menu.enseignant'}</a></li>
	<li><a href="etudiant.html" class="scrcast">&{'application.menu.etudiant'}</a></li>
	<li><a href="classe.html" class="scrcast">&{'application.menu.classe'}</a></li>

#{/if}
#{if _as == 'enseignant'}

#{/if}
#{if _as == 'etudiant'}
	<li><a href="detailMoyenne" class="scrcast">&{'application.menu.moyenne'}</a></li>
#{/if}

							