<!-- 
- Charge les notes de l'élève pour tous les examens de l'année
-->
#{extends 'main_mobile.html' /}
#{set title:'Accueil mobile' /}
&{'application.accueil.etudiant'}

<div class="toolbar">
        <h1 id="pageTitle"></h1>
        <a id="backButton" class="button" href="#"></a>
    </div>
        
	<ul id="notes" title="Notes">
        #{list items:etudiant.notes, as:'note'}
		<li><a href="@{MobileController.diffusionNote(note.examen.id)}">A l'examen de : ${note.examen.nom} ta note est de ${note.note}</a></li> 
        #{/list}
	</ul>
    
